# Environment variables
.env
.env.local
.env.*.local

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# IDE-specific
.vscode/
.idea/
